$barColor:#23254a;
$transBlack20:rgba(0,0,0,.2);
$transBlack30:rgba(0,0,0,.3);
$transBlack50:rgba(0,0,0,.5);
$bgColor:#2c2e56;
$appFont:neusa-next-std, sans-serif;
$fontColor:#9597c4;
$fontColorLite:#50537d;