$barColor:#23254a;
$transBlack20:rgba(0,0,0,.2);
$transBlack30:rgba(0,0,0,.3);
$transBlack50:rgba(0,0,0,.5);
$transWhite20:rgba(255,255,255,.2);
$transWhite40:rgba(255,255,255,.4);
$bgColor:#2c2e56;
$appFont:neusa-next-std, sans-serif;
$fontColor:#9597c4;
$fontColorLite:#50537d;
$menuColor:#1e1f3e;
$transWhite20:rgba(255,255,255,.2);
$categoryColor:#767ab5;
$subColor1:#1bb790;
$subColor2:#f94d3d;
$subColor3:#2ac1f3;
$subColor4:#ec463a;
$subColor5:#ff8c48;
$hoverGreen:#1bb790;
$whitecolor:#fff;
$buttonBlue1:#2ac1f3;
$buttonBlue2:#1d87aa;
$buttonOrange1:#ff8c48;
$buttonOrange2:#b26232;
$buttonRed:#f94d3d;
$tableColor:#33355d;
$liteGrey:#e3e3e8;
$pureRed:#e84118;
$pureGreen:#2ecc71;