@import "normalize";
@import "variables";

body{
	margin:0px;
	font-family: $appFont;
	background-color: $mainBG;
}
*{
	box-sizing: border-box;
}
.outerWrapper{
	width: 100vw;
	height: 100vh;
	// background-color: $bgColor;
	flex-direction: column;
}
.headBar{
	background-color: $barColor;
	width: 100%;
	height: 5.8%;
	align-items: center;
}
.clientName{
	background-color: $transBlack30;
	min-width: 7%;
	height: 100%;
	max-width: 13%;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	padding: 0px 15px;
	align-items: center;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.flexBox{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
}
.menuPin{
	width: 3.5%;
	height: 100%;
	background-color: $transBlack50;
}
.posSelectBtnHome{
	height: 100%;
	margin-right: auto;
}
.posBtnHome{
	height: 100%;
	font-size: 1rem;
	background-color: $transBlack20;
	border: none;
	color: $fontColor;
	padding: 0px 15px;
}
.systemTime{
	font-family: $appFont;
	font-size: 14px;
	color: $fontColorLite;
	border: 2px solid #2c2e56;
	padding: 7px 10px 5px 10px;
	border-radius: 6px;
	margin-left: auto;
}
.lastBillDetails{
	color: $fontColorLite;
	font-size: 14px;
	font-family: $appFont;
	text-transform: uppercase;
}
.lastBillDetails > span{
	padding-left:10px;
}
.barCodeSearch{
	margin-left: 20px;
	margin-right: 20px;
}
.itemSearchBox{
	height: 100%;
	background-color: $transBlack20;
}
.itemSearch{
	width: 110px;
	background-color: transparent;
	border: none;
	height: 100%;
	outline: none;
	color: $fontColorLite;
	padding-left: 10px;
	padding-right: 10px;
	transition: all .3s;
}
.itemSearch:focus{
	outline: none;
}
.searchBtn{
	background-color: transparent;
	border: none;
	line-height: 0;
	padding: 0px 10px;
	transition: all .3s;
	cursor: pointer;
}
.searchBtn:focus{
	background-color: $transBlack50;
	outline: none;
}
.userPhoto{
	width: 26px;
	height: 26px;
	border-radius: 15px;
	overflow: hidden;
	border: 2px solid $transBlack50;
	margin-left: 10px;
}
.userPhoto > img{
	width: 100%;
}
.userArea{
	height: 100%;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
	position: relative;
	transition: all .3s;
}
.userArea:hover{
	background-color: rgba(255,255,255,.1);
}
.userName{
	padding-top: 3px;
	color: #fff;
	font-size: 14px;
}
.userMenu{
	background-color: $menuColor;
	position: absolute;
	color: #fff;
	top: 100%;
	right: 0px;
	display: none;
}
.userMenu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.userMenu ul li{
	font-size: 15px;
	text-transform: uppercase;
	padding: 15px 45px 15px 25px;
	white-space: nowrap;
	border-top:1px solid $transBlack50;
	border-left: 2px solid $transWhite20;
	transition: all .3s;
}
.userMenu ul li:hover{
	background-color: $transWhite20;
}
.mainContentArea{
	width: 100%;
	height: 80vh;
}
.billPreviewSection{
	background-color: #fff;
}
.itemSection{
	// background-color: #000;
}
.bottomBar{
	width: 100%;
	height: 14.2%;
	background-color: #333;
}
.categorySection{
	width: 100%;
}
.mainCategory{
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.Catbutton{
	border: 2px solid $categoryColor;
	background-color: transparent;
	color: $categoryColor;
	border-radius: 20px;
	font-size: 14px;
	text-transform: uppercase;
	padding:8px 15px;
	margin-right: 6px;
	margin-bottom: 15px;
	box-sizing: border-box;
}
.subCategory{
	width: 100%;
	margin-bottom: 20px;
	flex-wrap: wrap;
}
.subCatItem{
	width: 96px;
	height: 96px;
	border-radius: 6px;
	color: #fff;
	padding: 10px;
	margin-right: 15px;
}
.subColor1{
	background-color: $subColor1;
}
.subColor2{
	background-color: $subColor2;
}
.subColor3{
	background-color: $subColor3;
}
.subColor4{
	background-color: $subColor4;
}
.subColor5{
	background-color: $subColor5;
}
.subCatName{
	font-size: 16px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 30px;
}
.subCatCount{
	font-size: 13px;
	margin-top: 10px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.itemSection{
	padding: 20px;
}
.viewControl{
	height: 24px;
	
}