@import "normalize";
@import "variables";

body{
	margin:0px;
	font-family: $appFont;
	background-color: $bgColor;
}
html, body{
	line-height: normal;
}
*{
	box-sizing: border-box;
	font-family: $appFont;
}
button, button:hover, button:focus{
	outline: none;
	cursor: pointer;
}
//ScrollBAR
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $transBlack20; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $transWhite20;
  transition: all .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $transWhite40;
  cursor: pointer;
}
//ScrollBAR
.mdl-button{
	font-family: $appFont;
}
.outerWrapper{
	width: 100vw;
	height: 100vh;
	// background-color: $bgColor;
	flex-direction: column;
}
.headBar{
	background-color: $barColor;
	width: 100%;
	height: 5.8%;
	align-items: center;
}
.clientName{
	background-color: $transBlack30;
	min-width: 7%;
	height: 100%;
	max-width: 13%;
	font-size: 16px;
	color: $whitecolor;
	font-weight: 500;
	padding: 0px 15px;
	align-items: center;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.flexBox{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
}
.menuPin{
	width: 50px;
	height: 100%;
	background-color: $transBlack50;
	position: relative;
	cursor: pointer;
}
.posSelectBtnHome{
	height: 100%;
	margin-right: auto;
}
.posBtnHome{
	height: 100%;
	font-size: 1rem;
	background-color: $transBlack20;
	border: none;
	color: $fontColor;
	padding: 0px 15px;
}
.systemTime{
	font-family: $appFont;
	font-size: 14px;
	color: $fontColorLite;
	border: 2px solid #2c2e56;
	padding: 7px 10px 5px 10px;
	border-radius: 6px;
	margin-left: auto;
}
.lastBillDetails{
	color: $fontColorLite;
	font-size: 14px;
	font-family: $appFont;
	text-transform: uppercase;
}
.lastBillDetails > span{
	padding-left:10px;
}
.barCodeSearch{
	margin-left: 20px;
	margin-right: 20px;
}
.itemSearchBox{
	height: 100%;
	background-color: $transBlack20;
}
.itemSearch{
	width: 110px;
	background-color: transparent;
	border: none;
	height: 100%;
	outline: none;
	color: $fontColorLite;
	padding-left: 10px;
	padding-right: 10px;
	transition: all .3s;
}
.itemSearch:focus{
	outline: none;
}
.searchBtn{
	background-color: transparent;
	border: none;
	line-height: 0;
	padding: 0px 10px;
	transition: all .3s;
	cursor: pointer;
}
.searchBtn:focus{
	background-color: $transBlack50;
	outline: none;
}
.userPhoto{
	width: 26px;
	height: 26px;
	border-radius: 15px;
	overflow: hidden;
	border: 2px solid $transBlack50;
	margin-left: 10px;
}
.userPhoto > img{
	width: 100%;
}
.userArea{
	height: 100%;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
	position: relative;
	transition: all .3s;
}
.userArea:hover{
	background-color: rgba(255,255,255,.1);
}
.userName{
	padding-top: 3px;
	color: $whitecolor;
	font-size: 14px;
}
.userMenu{
	background-color: $menuColor;
	position: absolute;
	color: $whitecolor;
	top: 100%;
	right: 0px;
	display: none;
	z-index: 99;
}
.userMenu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.userMenu ul li{
	font-size: 15px;
	text-transform: uppercase;
	padding: 15px 45px 15px 25px;
	white-space: nowrap;
	border-top:1px solid $transBlack50;
	border-left: 2px solid $transWhite20;
	transition: all .3s;
}
.userMenu ul li:hover{
	background-color: $transWhite20;
}
.mainContentArea{
	width: 100%;
	height: 80vh;
	position: relative;
}
.billPreviewSection{
	background-color: $liteGrey;
	// border-bottom: 7px solid transparent;
	// border-image: url(../images/billBorder.png) 30 round;
	// padding-bottom: 10px;
	border-bottom: 7px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/billBorder.png) 1 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/billBorder.png) 1 round; /* Opera 11-12.1 */
  border-image: url(../images/billBorder.svg) 3.7 round;
  border-image-repeat: repeat;
  border-image-outset: 0px 0px 7px 0px;
  height: calc(100% - 7px);
}
.itemSection{
	// background-color: #000;
}
.bottomBar{
	width: 100%;
	height: 14.2%;
	// background-color: #333;
}
.categorySection{
	width: 100%;
}
.mainCategory{
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.Catbutton{
	border: 2px solid $categoryColor;
	background-color: transparent;
	color: $categoryColor;
	border-radius: 20px;
	font-size: 14px;
	text-transform: uppercase;
	padding:8px 15px 6px 15px;
	margin-right: 6px;
	margin-bottom: 15px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all .3s;
}
.Catbutton:hover, .Catbutton:focus{
	background-color: $categoryColor;
	color: $whitecolor;
}
.subCategory{
	width: 100%;
	margin-bottom: 20px;
	flex-wrap: wrap;
}
.subCatItem{
	width: 96px;
	height: 96px;
	border-radius: 6px;
	color: $whitecolor;
	padding: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.subColor1{
	background-color: $subColor1;
}
.subColor2{
	background-color: $subColor2;
}
.subColor3{
	background-color: $subColor3;
}
.subColor4{
	background-color: $subColor4;
}
.subColor5{
	background-color: $subColor5;
}
.subCatName{
	font-size: 16px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 30px;
}
.subCatCount{
	font-size: 13px;
	margin-top: 10px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.itemSection{
	padding: 20px;
}
.viewControl{
	height: 24px;
	width: 100%;
	margin-top: -35px;
	position: relative;
}
.viewControl{
	border-bottom: 1px solid #33355d;
	text-align: right;
}
.viewControl .fa{
	font-size: 19px;
	color: $categoryColor;
	padding-left: 10px;
	transition: all .3s;
}
.viewControl .fa:hover, .viewControl .fa:focus{
	color: $hoverGreen;
}
.previewButtons{
	width: 32%;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 15px;
}
.clubbedBtn{
	width: 30%;
	border-radius: 5px;
	height: 70px;
	flex-direction: column;
	font-size: 14px;
	color: $whitecolor;
}
.clubbedBtn > button{
	height: 50%;
	border: none;
	color: $whitecolor;
}
.clubbedBtn > button:nth-child(1){
	border-radius: 5px 5px 0px 0px;
}
.clubbedBtn > button:nth-child(2){
	border-radius: 0px 0px 5px 5px;
}
.clubbedBtn:nth-child(1) > button:nth-child(1){
	background-color: $buttonBlue1;
}
.clubbedBtn:nth-child(1) > button:nth-child(2){
	background-color: $buttonBlue2;
}
.clubbedBtn:nth-child(2) > button:nth-child(1){
	background-color: $buttonOrange1;
}
.clubbedBtn:nth-child(2) > button:nth-child(2){
	background-color: $buttonOrange2;
}
.largeBtn{
	width: 30%;
	height: 70px;
}
.largeBtn > button{
	width: 100%;
	height: 100%;
	border-radius:5px;
	border: none;
	color: $whitecolor;
	background-color: $buttonRed;
	font-size: 14px;
}
.tablePreview{
	width: 68%;
	position: relative;
}
.tableItem{
	width: 90px;
	height: 80px;
	background-color: $tableColor;
	border-radius: 5px;
	box-shadow: 0px 0px 5px $transBlack30;
	margin-right: 10px;
	box-sizing:border-box;
	transition: all .3s;
	margin-top: 2%;
	cursor: pointer;
}
.tableItem:hover{
	border: 1px solid #2ac1f3;
	box-shadow: 0px 0px 10px #2ac1f3 inset;
}
.tableIcon{
	width: 56px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.vacantItem{
	background-image: url(../images/table_green.svg);
}
.occupiedItem
{
	background-image: url(../images/table_red.svg);
}
.settleItem{
	background-image: url(../images/table_orange.svg);
}
.tableItem{
	color: $fontColor;
	font-size: 14px;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.tableItem label{
	padding-top: 5px;
	display: block;
}
.tableDrawyer{
	align-items: center;
	height: 100%;
	width: 100%;
	flex-wrap: wrap;
	overflow: hidden;
}
.tableDrawyer{
	padding: 15px;
}
.drawyerBtn{
	width: 97px;
	height: 52px;
	background-image:url(../images/drawyer.png);
	position: absolute;
	top: -35px;
	left: 45%;
	cursor: pointer;
}
.drawyerBtn.pushDown{
	background-image:url(../images/drawyer_close.png);
}
.itemList{
	width: 100%;
	max-height: 80%;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: auto;
}
.menuItem{
	width: 15%;
	background-color:#40426f;
	height: 200px;
	margin-right: 2%;
	margin-top: 20px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 4px $transBlack30;
	min-width: 185px;

}
.menuItem:nth-child(6n){
	margin-right: 0px;
}
.itemImageHolder{
	width: 100%;
	height: 135px;
	overflow: hidden;
}
.itemImageHolder > img{
	width: 100%;
	box-shadow: 0px 1px 3px $transBlack30;
}
.itemSpec{
	width: 100%;
	height: 65px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
}
.itemQty{
	font-size: 15px;
	font-weight: 300;
	color: $whitecolor;
	width: 40%;
	padding: 7px 10px;
}
.itemPrice{
	font-size: 15px;
	font-weight: 700;
	color: $whitecolor;
	max-width: calc(60% - 5px);
	background-color: $bgColor;
	border-radius: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 3px 5px;
	text-align: center;
}
.itemName{
	width: 100%;
	font-size: 16px;
	color: $whitecolor;
	padding: 7px 10px;
}
.billPrevHeader{
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	color: $barColor;
	border-bottom: 1px solid #c8c9d9;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
}
.prevTableNum{
	padding-right: 20px;
}
.prevPaxNum{
	margin-right: auto;
}
.prevWaiter .fa{
	color: $hoverGreen;
}
.prevWaiter{
	
}
.billItem{
	align-items: center;
}
.billItemName{
	color: $bgColor;
	font-size: 16px;
	width: 50%;
}
.QtyInput, .QtyInput:focus{
	border: 0px;
	border-bottom: 1px solid #aeafcd;
	background-color: transparent;
	outline: none;
	color: $bgColor;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	width: 45px;
}
.QtyBtn{
	width: 32px;
	height: 32px;
	color: $fontColor;
	border: 2px solid $fontColor;
	background-color: transparent;
	border-radius: 16px;
	line-height: 0;
	transition: all .3s;
}
.QtyBtn:focus{
	color: $whitecolor;
	background-color: $fontColor;
}
.billprice{
	color: $bgColor;
	font-size: 16px;
	font-weight: 700;
	width: 20%;
	text-align: right;
}
.billQty{
	width: 30%;
	align-items: center;
}
.itemEditBox{
	font-size: 13px;
	color: $bgColor;
	font-weight: 300;
}
.itemEditBox .fa{
	font-size: 15px;
}
.itemEditBox span{
	padding-right: 10px;
}
.unitPrice{
	font-size: 13px;
	color: $bgColor;
	font-weight: 300;
	padding-top: 10px;
}
.billItemContainer{
	margin-bottom: 20px;
}
.billPrevItemList{
	width: 100%;
	height: calc(100% - 220px);
	overflow: auto;
}
.billPrevDetail{
	border-bottom: 1px solid #c8c9d9;
	border-top: 1px solid #c8c9d9;
	flex-wrap: wrap;
	padding: 15px 0px;
}
.priceAddSpec{
	width: 50%;
	text-align: left;
	color: $fontColor;
	font-weight: 300;
	font-size: 15px;
	padding: 3px 0px;
}
.priceAdd{
	width: 50%;
	text-align: right;
	color: $bgColor;
	font-weight: 700;
	font-size: 16px;
	padding: 3px 0px;
}
.billTotal{
	color: $pureRed;
	font-size: 24px;
	font-weight: 700;
}
.billTotal span{
	font-size: 16px;
	color: $fontColor;
	font-weight: 500;
}
.billSave{
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.saveBillBtn button{
	background-color: $pureGreen;
	padding: 15px 25px;
	font-size: 14px;
	color: $whitecolor;
	border: none;
	border-radius: 30px;
}
.tablePreview.tableOut{
	width: 68%;
    position: absolute;
    top: 18%;
    right: 0px;
    background-color: $bgColor;
    height: 82%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}
.tableOut > .tableDrawyer{
	height: auto;
	display: none;
}
.tabbedTables{
	display: none;
	padding: 15px;
}
.tableOut .tabbedTables{
	display: block;
}
.tableTab{
	width: 100%;
	background-color: $tabBG;
}
.tabButton{
	padding: 15px 25px;
	color: $fontColor;
	background-color: transparent;
	border: none;
}
.allBtn:focus{
	box-shadow: 0px -3px 0px $transWhite20 inset;
}
.vacantBtn:focus{
	box-shadow: 0px -3px 0px #2dcc70 inset;
}
.occupBtn:focus{
	box-shadow: 0px -3px 0px #d25d5a inset;
}
.settleBtn:focus{
	box-shadow: 0px -3px 0px #ff9811 inset;
}
.menuPin span{
	width: 50%;
	height: 2px;
	background-color: $whitecolor;
	display: block;
	position: absolute;
	left: 25%;
}
.menuPin span:nth-child(1){
	top: 30%;
}
.menuPin span:nth-child(2){
	top: 48%;
}
.menuPin span:nth-child(3){
	top: 66%;
}
.menuActive{
	background-color: $hoverGreen;
}
.loginWrapper{
	width: 100%;
	height: 100vh;
	background-color: $menuColor;
}
.companyDetails{
	width: 50%;
	height: 100%;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.loginSection{
	width: 50%;
	height: 100%;
}
.loginSection{
	background-color: #23254b;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.locationTitle{
	font-size: 24px;
	color: $whitecolor;
	margin-bottom: 25px;
}
.locationHolder .fa{
	font-size: 50px;
	margin-bottom: 10px;
	color: #535586;
}
.locationHolder img{
	margin-bottom: 10px;
}
.locationHolder button{
	width: 130px;
	height: 130px;
	display: block;
	border-radius: 6px;
	background-color: $tabBG;
	border: none;
	color: $whitecolor;
	font-size: 16px;
	box-shadow: 0px 0px 4px $transBlack30;
	margin:10px;
	cursor: pointer;
}
.locationHolder button:hover{
	border: 1px solid #2ac1f3;
	box-shadow: 0px 0px 10px #2ac1f3 inset;
}
.companyLogo{
	width: 27%;
}
.companyLogo > img{
	width: 100%;
}
.aboutContent{
	width: 65%;
	text-align: center;
	color: #9c9fd1;
	font-size: 15px;
	line-height: 1.5;
	margin-top:20px;
}
.companyBtn{
	margin-top: 15px;
}
.companyBtn button{
	background-color: #65678e;
	border: none;
	padding: 15px 25px;
	border-radius: 30px;
	font-size: 14px;
	color: $whitecolor;
}
.loginForm{
	width: 40%;
}
.mdl-textfield{
	width: 100%;
}
.mdl-textfield__input{
	border: 2px solid #4b4e7e;
	border-radius: 6px;
	padding: 10px;
	color: $whitecolor;
	font-family: $appFont;
}
.mdl-textfield__label{
	color: #9c9fd1;
	padding-top: 8px;
    padding-left: 10px;
    text-shadow: 3px 0px 0px #23254b;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color: #9c9fd1;
}
.mdl-textfield__label:after{
	background-color:#4b4e7e;
	height: 0px;
}
.mdl-checkbox__label{
	color: #9c9fd1;
}
.mdl-checkbox__box-outline{
	border: 2px solid #4b4e7e;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline{
	border: 2px solid $hoverGreen;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
	background-color: $hoverGreen;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab{
	color: $whitecolor;
	background-color: #2ecc71;
	width: 100%;
	border-radius: 30px;
	margin-top: 15px;
	font-family: $appFont;
	text-transform: capitalize;
	font-size: 16px;
	margin-bottom: 15px;
}
.loginForm a{
	color: #767bb3;
	font-size: 15px;
	font-weight: 400;
}
.customMenu{
	width: 75px;
	height: 100%;
	background-color: #1e1f3e;
	position: absolute;
	@media screen and (max-width: 1366px){
		
	}
}
.menuButton{
	border: none;
	padding: 10px 0px;
	text-align: center;
	width: 100%;
	background-color: transparent;
	border-bottom: 2px solid #2c2e55;
	opacity: .5;
}
.menuButton:hover, .menuButton:focus{
	border-bottom: 2px solid #4ca64f;
	background-color: #2c2e55;
	opacity: 1;
}
.menuButton > img {
	display: block;
	margin:0px auto;
	width: 35%;
}
.menuButton > label {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	padding-top: 10px;
	cursor: pointer;
}
//POP UP STYLING
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.popBox_small {
  width:20%;
}

.modal-content-small {
  background-color: #2c2e55;
  margin: 10% auto; /* 15% from the top and centered */
  border: 3px solid #393c69;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}
.popBox_small {
  background-color: #2c2e55;
  margin: 10% auto; /* 15% from the top and centered */
  border: 3px solid #393c69;
  width: 20%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}
.popBox_medium {
  background-color: #2c2e55;
  margin: 10% auto; /* 15% from the top and centered */
  border: 3px solid #393c69;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}
.popBox_large {
  background-color: #2c2e55;
  margin: 10% auto; /* 15% from the top and centered */
  border: 3px solid #393c69;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}
.popBox_xlarge {
  background-color: #2c2e55;
  margin: 10% auto; /* 15% from the top and centered */
  border: 3px solid #393c69;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}
.customModal h1{
	background-color: #393c69;
	height:36px;
	text-align: center;
	margin:0px;
	font-size: 19px;
	color: #9c9fd1;
	padding-top: 5px;
	box-sizing: border-box;
}
.fullbutton .mdl-button{
	width: 100%;
	background-color: #25284b;
	color: #9d9ed4;
	margin-bottom: 5px;
}
.mdl-textfield option{
	color: #25284b;
}
/* The Close Button */
.close {
  color: #9d9ed4;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  transition: all .3s;
}

.close:hover,
.close:focus {
  color: #ec463a;
  text-decoration: none;
  cursor: pointer;
}
.popContentContainer{
	padding:10px;
}
// POP UP ENDS
.twoColContainer{
	width: 100%;
	flex-wrap: wrap;
}
.twoColContainer > div {
	width: calc(50% - 20px);
	margin:0px 10px;
}
.twoColContainer .mdl-textfield{
	width: 100%;
	padding:20px 0px 10px 0px;
}
.singleColContainer{
	width: 100%;
	flex-wrap: wrap;
}
.singleColContainer > div {
	width: 100%;
	margin-bottom:5px;
}
.singleColContainer .mdl-textfield{
	width: 100%;
	padding:20px 0px 10px 0px;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	top: 0px;
}
.customerSuggestionList{
	width: 100%;
	border-top:3px solid #393b68;
	padding:4px;
}
.customerSuggestionList ul{
	margin:0px;
	padding:0px;
}
.customerSuggestionList ul li{
	width: 100%;
	margin:0px;
	list-style: none;
}
.customerSuggestionList .mdl-button{
	background-color: #25274b;
	width: 100%;
	margin:2px 0px;
	text-align: left;
	padding:5px 15px;
	height: auto;
	color: #9c9fd1;
	box-shadow: none;
}
.singleColContainer .mdl-checkbox{
	cursor: pointer;
}
.addonList{
	padding: 0px;
	margin:0px;
	list-style: none;
}
.addonList li{
	padding:5px 10px;
	background-color: #25274b;
	margin-bottom: 5px;
}
.popBtnHolder{
	padding:10px;
	border-top: 3px solid #393b68;
	justify-content: flex-end;
}
.qRound .mdl-button{
	border-radius: 30px;
	background-color: #2ecc71;
	padding: 5px 25px 3px 25px;
	height: auto;
	text-transform: unset;
	color: #fff;
}
.popTable{
	width: 100%;
	border-top:3px solid #393b68;
	padding:4px;
}
.popTable table{
	width: 100%;
	background-color: #25284b;
	color: #fff;
}
.popTable .mdl-data-table th{
	color: #9d9fd2 !important;
}
.mdl-data-table tbody tr:hover{
	background-color: rgba(0,0,0,.5);
}
.mdl-data-table tbody tr.is-selected{
	background-color: rgba(255,255,255,.1);
}
@media only screen and (max-width: 1366px) {
  .menuItem:nth-child(6n){
  	margin-right: 2%;
  }
  .modal-content-small {
	  background-color: #2c2e55;
	  margin: 5% auto; /* 15% from the top and centered */
	  border: 3px solid #393c69;
	  width: 60%; /* Could be more or less, depending on screen size */
	  border-radius: 10px;
	}
}
